<h1><%= t 'genres.index_page.title' %></h1>

<table class="table table-bordered table-striped">
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <% if admin? %>
          <td class="table-actions">
            <%= link_to t('genres.edit'), edit_genre_path(genre), class: "btn btn-default btn-xs" %> 
            <%= link_to t('genres.delete'), genre, class: "btn btn-danger btn-xs", method: :delete %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <% if admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('genres.admin_create'), new_genre_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>