<% case params[:type] %>
<% when 'songs' %>
  <%
    total = @bookmarks.length
    col1 = @bookmarks[0, (total / 2.0).ceil]
    col2 = @bookmarks[(total / 2).ceil, (total / 2).ceil]
  %>

  <% if total > 0 %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <ul class="list-group">
          <% col1.each do |b| %>
            <%= render 'songs/list_item', song: b.bookmarkable %>
          <% end %>
        </ul>
      </div>
      
      <div class="col-xs-12 col-md-6">
        <ul class="list-group">
          <% col2.each do |b| %>
            <%= render 'songs/list_item', song: b.bookmarkable %>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="nothing-found big"><%= t 'bookmarks.no_songs' %></div>
  <% end %>
<% when 'chords' %>
  <% if @bookmarks.length > 0 %>
    <ul class="chord-list">
        <% @bookmarks.each do |b| %>
          <%= render 'chords/chord', chord: b.bookmarkable %>
        <% end %>
    </ul>
  <% else %>
    <div class="nothing-found big"><%= t 'bookmarks.no_chords' %></div>
  <% end %>
<% else %>
  <%
    total = @bookmarks.length
    col1 = @bookmarks[0, (total / 3.0).ceil]
    col2 = @bookmarks[(total / 3).ceil, (total / 3).ceil]
    col3 = @bookmarks[2 * (total / 3).ceil, (total / 3).ceil]
  %>
  <% if total > 0 %>
    <div class="col-xs-4 list-group">
      <% col1.each do |b| %>
        <%= render 'artists/list_item', artist: b.bookmarkable %>
      <% end %>
    </div>
    <div class="col-xs-4 list-group">
      <% col2.each do |b| %>
        <%= render 'artists/list_item', artist: b.bookmarkable %>
      <% end %>
    </div>
    <div class="col-xs-4 list-group">
      <% col3.each do |b| %>
        <%= render 'artists/list_item', artist: b.bookmarkable %>
      <% end %>
    </div>
  <% else %>
    <div class="nothing-found big"><%= t 'bookmarks.no_artists' %></div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked">
    <li class="<%= params[:type] == 'artists' || params[:type] == '' ? 'active' : '' %>">
      <%= link_to t('bookmarks.artists'), bookmarks_path('artists') %>
    </li>
    <li class="<%= params[:type] == 'songs' ? 'active' : '' %>">
      <%= link_to t('bookmarks.songs'), bookmarks_path('songs') %>
    </li>
    <li class="<%= params[:type] == 'chords' ? 'active' : '' %>">
      <%= link_to t('bookmarks.chords'), bookmarks_path('chords') %>
    </li>
  </ul>
<% end %>