<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bookmark.user_id %>
</p>

<p>
  <strong>Bookmarkable type:</strong>
  <%= @bookmark.bookmarkable_type %>
</p>

<p>
  <strong>Bookmarkable:</strong>
  <%= @bookmark.bookmarkable_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @bookmark.note %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
