<a name='post-<%= post.id %>'></a>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="clearfix">
      <div class="pull-left">
        <%= link_to image_tag(post.user.avatar(:tiny)), main_app.user_path(post.user) %>
        <%= link_to_if Forem.user_profile_links, post.user, [main_app, post.user] %>
      </div>
      <div class="pull-right">
        <a href="#post-<%= post.id %>" class="">
          <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if post.pending_review? %>
      <div class='moderation alert alert-danger'>
        <%= t(".pending_review") %>
        <% if forem_admin_or_moderator?(post.topic.forum) %>
          <% if local_assigns[:mass_moderation] %>
            <%= render "/forem/posts/moderation_tools", :post => post %>
          <% else %>
            <%= form_tag forem.forum_moderate_posts_path(post.topic.forum), :method => :put do %>
              <%= render "/forem/posts/moderation_tools", :post => post %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if post.reply_to %>
      <div>
        <small><%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}", class: "in-reply-to" %></small>
      </div>
    <% end %>
    <%= forem_format(post.text) %>
  </div>
  <% if forem_user %>
    <div class="panel-footer tac">
      <div class="btn-group">
        <% if can?(:reply, post.topic) %>
          <% if post.topic.can_be_replied_to? %>
            <%= link_to t('reply', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id), :class => "btn btn-sm btn-primary" %>
            <%= link_to t('quote', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id, :quote => true), :class => "btn btn-sm btn-success" %>
          <% end %>
        <% end %>
        <% if post.owner_or_admin?(forem_user) %>
          <% if can?(:edit_post, post.topic.forum) %>
            <%= link_to t('edit', :scope => 'forem.post'), forem.edit_topic_post_path(post.topic, post), :class => "btn btn-sm btn-info" %>
          <% end %>
          <% if can?(:destroy_post, post.topic.forum) %>
            <%= link_to t('delete', :scope => 'forem.topic'), forem.topic_post_path(post.topic, post), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-sm btn-danger" %>
          <% end %>  
        <% end %>
      </div>
    </div>
  <% end %>  
</div>
