<a name='post-<%= post.id %>'></a>
<div class="panel panel-default">
	<div class="panel-heading">
	  <div class="clearfix">
	    <div class="pull-left">
	      <%= link_to image_tag(post.user.avatar(:tiny)), main_app.user_path(post.user) %>
	      <%= link_to_if Forem.user_profile_links, post.user, [main_app, post.user] %>
	    </div>
	    <div class="pull-right">
	      <a href="#post-<%= post.id %>" class="">
	        <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
	      </a>
	    </div>
	  </div>
	</div>
	<div class="panel-body">
	  <% if post.reply_to %>
	    <div>
	      <small><%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}", class: "in-reply-to" %></small>
	    </div>
	  <% end %>
	  <%= forem_format(post.text) %>
	</div>
</div>