<% content_for :hide_breadcrumbs do "true" end %>
<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<h2><%= t("forem.post.edit", :post => @post) %></h2>

<%= simple_form_for [forem, @topic, @post], html: {class: 'form-horizontal' } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.edit"), :class => "btn btn-primary pull-right" %>
<% end %>
