<% content_for :hide_breadcrumbs do "true" end %>
<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<h2>
 	<%= t("forem.post.new") %>
	<% unless @reply_to_post %>
		<em><%= @topic.subject %></em>
	<% end %>
</h2>
<% if @reply_to_post %>
	<%= render 'reply_to_post', :post => @reply_to_post %>
<% end %>

<%= simple_form_for [forem, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), :class => "btn btn-primary pull-right", id: "submit-btn" %>
<% end %>