<h2><%= t 'user.edit_page.title' %></h2>

<%= simple_form_for(resource, :as => resource_name,
  :url => registration_path(resource_name),
  :html => { :method => :put, class: 'form-horizontal' }) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :email, :required => true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :autocomplete => "off", :hint => t('user.edit_page.password_hint'), :required => false %>
    <%= f.input :password_confirmation, :required => false %>

    <div class="row">
      <div class="col-lg-10 image-field">
        <%= f.input :avatar %>
      </div>
      <div class="col-lg-2 current-image">
        <%= image_tag resource.avatar.url :thumb %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('user.edit_page.submit_button'), class: 'pull-right' %>
  </div>
<% end %>