<h2><%= t 'user.signup_page.title' %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal new-registration-form' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, :autofocus => true, inner_html: { autocorrect: 'false', autocapitalize: 'words' } %>
    <%= f.input :email, :required => true, inner_html: { type: 'email' } %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('user.signup_page.submit_button'), class: 'pull-right' %>
  </div>
<% end %>

<%= link_to t('user.signup_page.signin'), new_session_path('user') %><br />
<%= link_to t('user.signup_page.signin_with_facebook').html_safe, user_omniauth_authorize_path(:facebook) %>