<div class="thumbnail artist-info clearfix">
  <%= render 'snippets/share' %>
  <%= image_tag artist.image.url(:medium), class: 'full-width' %>
  <div class="caption">
    <%= render 'snippets/voting', html_class: 'voting', score: artist.score %>
    <h1><%= artist.name %></h1>
    <div class="artist-description"><%= artist.description %></div>
  </div>
</div>

<% if artist.has_links? %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= t 'artists.find_out_more' %></div>
    <div class="list-group">
      <%= link_to t('artists.wikipedia').html_safe, artist.wikipedia, class: 'list-group-item' if artist.wikipedia %>
      <%= link_to t('artists.youtube').html_safe, artist.youtube, class: 'list-group-item' if artist.youtube %>
      <%= link_to t('artists.facebook').html_safe, artist.facebook, class: 'list-group-item' if artist.facebook %>
      <%= link_to t('artists.twitter').html_safe, artist.twitter, class: 'list-group-item' if artist.twitter %>
      <%= link_to t('artists.vkontakte').html_safe, artist.vkontakte, class: 'list-group-item' if artist.vkontakte %>
    </div>
  </div>
<% end %>

<% if current_user %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= t 'user_panel' %></div>
    <div class="panel-body">
      <%= render 'snippets/bookmark_links', item: artist %>
    </div>
  </div>
<% end %>