<%= simple_form_for @artist, html: {class: 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>

  <%= f.association :user, include_blank: false %>
  <%= f.association :language, include_blank: false %>

  <div class="row">
    <div class="col-lg-10 image-field">
      <%= f.input :image %>
    </div>
    <div class="col-lg-2 current-image">
      <%= image_tag @artist.image.url :thumb %>
    </div>
  </div>

  <%= f.button :submit, class: 'pull-right' %>
<% end %>