<h1><%=t 'artists.form.title', name: @artist.name %></h1>

<%= render 'form' %>

<% content_for :sidebar do %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('artists.show'), @artist, class: "btn btn-primary btn-block" %>
        <%= link_to t('artists.index'), artists_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>