<%
  total = @artist.published_songs.length
  col1 = @artist.published_songs[0, (total / 2.0).ceil]
  col2 = @artist.published_songs[(total / 2.0).ceil, total]
  title t('titles.artist', name: @artist.name)
  description t('descriptions.artist', name: @artist.name, description: @artist.description)
  keywords t('keywords.artist', name: @artist.name)
%>
<article>
  <div class="visible-xs">
    <%= render 'artist_side', artist: @artist %>
  </div>
  <% if total > 0 %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <ul class="list-group">
          <% col1.each do |s| %>
            <%= render 'songs/list_item', song: s %>
          <% end %>
        </ul>
      </div>
      
      <div class="col-xs-12 col-md-6">
        <ul class="list-group">
          <% col2.each do |s| %>
            <%= render 'songs/list_item', song: s %>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="nothing-found big"><%= t 'artists.no_songs' %></div>
  <% end %>
</article>
<%= render 'snippets/fb_comments' %>

<% content_for :sidebar do %>
  <div class="hidden-xs">
    <%= render 'artist_side', artist: @artist %>
  </div>
  <% if admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('artists.admin_publish'), artist_publish_path(@artist), method: :put, class: "btn btn-primary btn-block" unless @artist.published? %>
        <%= link_to t('artists.admin_unpublish'), artist_unpublish_path(@artist), method: :put, class: "btn btn-primary btn-block" if @artist.published? %>
        <%= link_to t('artists.admin_edit'), edit_artist_path(@artist), class: "btn btn-primary btn-block" %>
        <%= link_to t('artists.admin_remove'), @artist, method: :delete, class: "btn btn-danger btn-block", data: { confirm: t('admin.confirm_destroy') } %>
      </div>
    </div>
  <% end %>
<% end %>