<%
all = @artists
sorted = {}
"abcdefghijklmnopqrstuvwxyz#".each_char do |l|
	sorted[l], all = all.partition do |item|
		if(l == '#')
			!'abcdefghijklmnopqrstuvwxyz'.include?(item.name[0].downcase)
		else
			item.name[0].downcase == l
		end
	end
end

cols = 3
deviation = 5
per_col = @artists.size / 3
current_col = 0
current_in_col = 0
%>
<div class="row">
<div class="col-lg-4">
<% "abcdefghijklmnopqrstuvwxyz#".each_char do |l| %>
	<% if current_in_col > per_col %>
		<% current_col += 1 %>
		<% current_in_col = 0 %>
		</div>
		<div class="col-lg-4">
	<% end %>
	<% if sorted[l].size != 0 %>
		<div class="panel panel-default">
			<div class="panel-heading"><%= l %></div>
			<div class="list-group">
				<% sorted[l].each do |artist| %>
					<%= link_to artist.name, artist, class: 'list-group-item' %>
					<% current_in_col += 1 %>
				<% end %>
			</div>
		</div>
	<% end %>

	<% if(l == '#') %>
		</div>
	<% end %>
<% end %>
</div>

<% content_for :sidebar do %>
	<% if user_signed_in? && current_user.admin? %>
		<div class="panel panel-default">
			<div class="panel-heading"><%=t 'admin.admin_panel' %></div>
			<div class="panel-body">
				<%= link_to t('artists.admin_create'), new_artist_path, class: "btn btn-primary btn-block" %>
			</div>
		</div>
	<% end %>
<% end %>