<%
  bookmarked = false
  if current_user
    bookmarked = current_user.bookmarked?(item)
  end
%>
<%= link_to t("bookmarks.bookmark"), 'javascript:void(0)', data: {type: item.class.name, id: item.id},
    :class => "btn btn-primary btn-block js-create-bookmark #{bookmarked ? 'hidden' : ''}" %>
<%= link_to t("bookmarks.remove_bookmark"), 'javascript:void(0)', data: {type: item.class.name, id: item.id},
    :class => "btn btn-danger btn-block js-delete-bookmark #{!bookmarked ? 'hidden' : ''}" %>