<div class="share-bar a2a_kit a2a_kit_size_32 a2a_default_style">
  <a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_email"></a>

  <div class="fb-like" data-href="<%= request.original_url %>" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
</div>
<script type="text/javascript">
  var a2a_config = a2a_config || {};
  a2a_config.locale = "lt";
</script>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>