<% vote = score.find_vote(current_user, request.remote_ip) %>
<div class="<%= html_class %>">
  <a href="javascript:void(0)" data-score="<%= score.id %>" data-up="true" class="fa fa-thumbs-o-up vote-icon vote-up js-vote <%= vote && !vote.up ? 'deactivated' : '' %>"></a>
  <div class="score js-vote-result <%= score.positive? ? 'positive' : 'negative' %>"><%= score.score %></div>
  <a href="javascript:void(0)"  data-score="<%= score.id %>" data-up="false" class="fa fa-thumbs-o-down vote-icon vote-down js-vote <%= vote && vote.up ? 'deactivated' : '' %>"></a>
</div>