<div class="thumbnail artist-info">
  <div class="jtab" title="<%= t 'chords.title', title: chord.name %>"><%= chord.name %></div>
</div>

<% if current_user %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= t 'user_panel' %></div>
    <div class="panel-body">
      <%= render 'snippets/bookmark_links', item: chord %>
    </div>
  </div>
<% end %>