<%= simple_form_for @chord, html: {class: 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :notation %>
  <%= f.association :parent%>

  <%= f.button :submit, class: 'pull-right' %>
<% end %>