<%
title t('titles.chords')
description t('descriptions.chords')
keywords t('keywords.chords')
%>
<h1><%= t 'chords.index_page.title' %></h1>

<ul class="chord-list">
<% @chords.each do |c| %>
  <%= render 'chord', chord: c %>
<% end %>
</ul>

<% content_for :sidebar do %>
	<% if user_signed_in? && current_user.admin? %>
		<div class="panel panel-default">
			<div class="panel-heading"><%=t 'admin.admin_panel' %></div>
			<div class="panel-body">
				<%= link_to t('chords.admin_create'), new_chord_path, class: "btn btn-primary btn-block" %>
			</div>
		</div>
	<% end %>
<% end %>