<%
  total = @songs.length
  col1 = @songs[0, (total / 2.0).ceil]
  col2 = @songs[(total / 2.0).ceil, total]
  title t('titles.chord', name: @chord.name)
  description t('descriptions.chord', name: @chord.name)
  keywords t('keywords.chord', name: @chord.name)
%>
<div class="visible-xs">
  <%= render 'chord_side', chord: @chord %>
</div>

<h1><%= t('chords.show_page.songs', chord: @chord.name) %></h1>

<% if total > 0 %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <ul class="list-group">
        <% col1.each do |s| %>
          <%= render 'songs/list_item', song: s %>
        <% end %>
      </ul>
    </div>
    
    <div class="col-xs-12 col-md-6">
      <ul class="list-group">
        <% col2.each do |s| %>
          <%= render 'songs/list_item', song: s %>
        <% end %>
      </ul>
    </div>
    <div class="tac">
      <%= will_paginate @songs, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% else %>
  <div class="nothing-found big"><%= t 'chords.show_page.no_songs' %></div>
<% end %>

<% content_for :sidebar do %>
  <div class="hidden-xs">
    <%= render 'chord_side', chord: @chord %>
  </div>

  <% if admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('chord.admin_edit'), edit_chord_path(@chord), class: "btn btn-primary btn-block" %>
        <%= link_to t('chord.admin_remove'), @chord, method: :delete, class: "btn btn-danger btn-block", data: { confirm: t('admin.confirm_destroy') } %>
      </div>
    </div>
  <% end %>
<% end %>