<h1><%= t 'types.index_page.title' %></h1>

<table class="table table-bordered table-striped">
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <% if admin? %>
          <td class="table-actions">
            <%= link_to t('types.edit'), edit_type_path(type), class: "btn btn-default btn-xs" %> 
            <%= link_to t('types.delete'), type, class: "btn btn-danger btn-xs", method: :delete %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <% if admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('types.admin_create'), new_type_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>