<h1><%= t 'languages.index_page.title' %></h1>

<table class="table table-bordered table-striped">
  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <% if admin? %>
          <td class="table-actions">
            <%= link_to t('languages.edit'), edit_language_path(language), class: "btn btn-default btn-xs" %> 
            <%= link_to t('languages.delete'), language, class: "btn btn-danger btn-xs", method: :delete %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <% if admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('languages.admin_create'), new_language_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>