<div class="thumbnail user-info">
  <%= image_tag user.avatar.url(:medium), class: 'full-width' %>
  <div class="caption">
    <h1><%= user.name %></h1>
    <div class="user-description"><%#= user.description %></div>
  </div>
</div>
<% if current_user %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= t 'user_panel' %></div>
    <div class="panel-body">
      <%= render 'snippets/bookmark_links', item: user %>
    </div>
  </div>
<% end %>