<%
title t('titles.user', name: @user.name)
description t('descriptions.user', name: @user.name)
keywords t('keywords.user', name: @user.name)
%>
<article>
  <div class="visible-xs">
    <%= render 'user_side', user: @user %>
  </div>
</article>

<% content_for :sidebar do %>
  <div class="hidden-xs">
    <%= render 'user_side', user: @user %>
  </div>
  <% if admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('user.admin_edit'), edit_user_path(@user), class: "btn btn-primary btn-block" %>
        <%= link_to t('user.admin_remove'), @user, method: :delete, class: "btn btn-danger btn-block", data: { confirm: t('admin.confirm_destroy') } %>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? && current_user == @user %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'user.user_panel' %></div>
      <div class="panel-body">
        <%= link_to t('user.user_edit'), edit_user_path(@user), class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>