<h2><%=t "user.reset_password_page.title" %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => t("user.reset_password_page.new_password"), :required => true, :autofocus => true %>
    <%= f.input :password_confirmation, :label => t("user.reset_password_page.confirm_new_password"), :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("user.reset_password_page.submit"), class: 'pull-right' %>
  </div>
<% end %>

<%= link_to t("user.signin_page.signup"), new_registration_path('user') %><br />
<%= link_to t('user.signup_page.signin'), new_session_path('user') %><br />
<%= link_to t('user.signup_page.signin_with_facebook').html_safe, user_omniauth_authorize_path(:facebook) %>
