<h2><%=t "user.forgot_password_page.title" %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("user.forgot_password_page.submit"), class: 'pull-right' %>
  </div>
<% end %>

<%= link_to t("user.signin_page.signup"), new_registration_path('user') %><br />
<%= link_to t('user.signup_page.signin'), new_session_path('user') %><br />
<%= link_to t('user.signup_page.signin_with_facebook').html_safe, user_omniauth_authorize_path(:facebook) %>
