<%
title t('titles.home')
description t('descriptions.home')
keywords t('keywords.home')
%>
<div class="jumbotron">
	<div class="container text-center">
		<h2><%= t 'front_page.jumbo_title', count: Song.all_published.count  %></h2>

		<div class="input-group">
			<input type="text" class="form-control input-lg" placeholder="Enter artist, song, genre, tag">
			<span class="input-group-btn">
				<button class="btn btn-primary btn-lg" type="button"><span class="fa fa-search"></span></button>
			</span>
		</div><!-- /input-group -->
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h3><span class="fa fa-bookmark"></span> Bookmark</h3>
			<p>Bookmark your favorite songs and artists, so you don't have to spend time searching for them!</p>
		</div>
		<div class="col-lg-4">
			<h3><span class="fa fa-thumbs-o-up"></span> Rate</h3>
			<p>Rate songs, so you and your fellow musicians know which to try and which are better to skip!</p>
		</div>
		<div class="col-lg-4">
			<h3><span class="fa fa-user"></span> Forums</h3>
			<p>Discuss and help each other to become better, by sharing knowledge, giving suggestions and more!</p>
		</div>
	</div>
</div>