<% content_for :hide_breadcrumbs do "true" end %>
<div class='category'>
  <div id='forum'>
    <ol class="breadcrumb">
      <li class=""><%= link_to t('forem.forum.forums'), forem.root_path %></li>
      <li class="active"><%= forem_emojify(@category) %></li>
    </ol>
  </div>
  <%= render @category %>
</div>

<% content_for :sidebar do %>
  <% if forem_admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('forum.admin'), forem.admin_root_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>