<h1><%= t 'complexities.index_page.title' %></h1>

<table class="table table-bordered table-striped">
  <tbody>
    <% @complexities.each do |complexity| %>
      <tr>
        <td><%= complexity.name %></td>
        <td class="table-actions">
          <%= link_to t('complexities.edit'), edit_complexity_path(complexity), class: "btn btn-default btn-xs" %> 
          <%= link_to t('complexities.delete'), complexity, class: "btn btn-danger btn-xs", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('complexities.admin_create'), new_complexity_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>