<%= simple_form_for @song, html: {class: 'form-horizontal' } do |f| %>
	<%= f.input :name, input_html: {id: 'js-song-name'} %>
	<%= f.input :text, input_html: {class: 'js-chords-song'}, hint: t('songs.markup_guide') %>
	<pre class="js-chords-preview"></pre>

	<%= f.association :type, include_blank: false %>
	<%= f.association :genre, include_blank: false %>
	<%= f.association :language, include_blank: false %>
	<%= f.association :complexity, include_blank: false %>
	<%#= f.input :tag_list, hint: t('songs.tags_guide') %>
	<%= f.input :artist_tokens, input_html: {id: 'js-artist-tokens', 'data-pre' => @song.artists.map(&:attributes).to_json} %>

	<%= f.button :submit, class: 'pull-right' %>
<% end %>
