<% artist = nil unless defined? artist %>
<li class="list-group-item songs-list-item">
  <div class="title row">
    <div class="col-xs-7"><%= link_to song.name, song, class: 'song-name' %></div>
    <div class="col-xs-5 genre"><small><%= song.type.name %> | <%= song.genre.name %></small></div>
  </div>

  <div class="additional-info row">
    <div class="score col-xs-4 <%= song.score.positive? ? 'positive' : 'negative' %>"><%= song.score.result %></div>
    <% unless artist && song.artists.length <= 1 %>
      <div class="featuring-artists col-xs-8">
        <small><%= t 'songs.featuring_artists' %></small>
        <% song.artists.each do |a| %>
          <% unless a == artist %>
            <%= link_to "#{image_tag(a.image.url(:tiny))} #{a.name}".html_safe, a, class: 'featuring-artist' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</li>