<div class="song-side">
  <%= render 'snippets/share' %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= t 'song.by' %></div>
    <% if song.artists.length > 0 %>
    <ul class="list-group">
      <% song.artists.each do |a| %>
        <li class="list-group-item">
          <%= link_to image_tag(a.image.url(:small)), a %>
          <%= link_to a.name, a %>
        </li>
      <% end %>
    </ul>
    <% else %>
      <div class="panel-body">
        <div class="nothing-found small"><%= t 'songs.no_artists' %></div>
      </div>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><%= t 'song.additional_info' %></div>
    <table class="table">
      <tbody>
        <tr>
          <td><small><%= t 'songs.type' %></small></td>
          <td><%= song.type.name %></td>
        </tr>
        <tr>
          <td><small><%= t 'songs.genre' %></small></td>
          <td><%= song.genre.name %></td>
        </tr>
        <tr>
          <td><small><%= t 'songs.complexity' %></small></td>
          <td><%= song.complexity.name %></td>
        </tr>
        <tr>
          <td><small><%= t 'songs.version' %></small></td>
          <td><%= song.version + 1 %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if current_user %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= t 'user_panel' %></div>
      <div class="panel-body">
        <%= render 'snippets/bookmark_links', item: song %>
      </div>
    </div>
  <% end %>

  <%# TODO: add other versions %>
</div>