<%= render 'form' %>

<% content_for :sidebar do %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'songs.is_version_of' %></div>
      <ul class="list-group" id="js-song-version-suggestions">
      </ul>
    </div>
  <% end %>
<% end %>