<%
title t('titles.song', song_name: @song.name, artist_name: @song.artists_names)
description t('descriptions.song', song_name: @song.name, artist_name: @song.artists_names)
keywords t('keywords.song', song_name: @song.name, artist_name: @song.artists_names)
%>
<div class="song-title clearfix">
  <h1 class="col-md-9"><span><%= @song.name %></span></h1>
  <%= render 'snippets/voting', score: @song.score, html_class: 'voting' %>
</div>
<pre class="preview-song no-block"><%= @song.text %></pre>
<div class="song-chords">
  <h2 class="song-chords-title"><%= t 'songs.chords_in_song' %></h2>
  <% if @song.chords.length > 0 %>
  <ul class="song-chords">
    <% @song.chords.each do |c| %>
      <li><%= link_to ('<div class="jtab chordonly">' + c.name + '</div>').html_safe, c, title: t('chords.title', title: c.name) %></li>
    <% end %>
  </ul>
  <% else %>
    <div class="nothing-found big"><%= t 'songss.no_chords' %></div>
  <% end %>

  <div class="visible-xs">
    <%= render 'song_side', song: @song %>
  </div>
</div>

<%= render 'snippets/fb_comments' %>

<% content_for :sidebar do %>
  <div class="hidden-xs">
    <%= render 'song_side', song: @song %>
    <% if admin? %>
      <div class="panel panel-default">
        <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
        <div class="panel-body">
          <%= link_to t('songs.admin_publish'), song_publish_path(@song), method: :put, class: "btn btn-primary btn-block" unless @song.published? %>
          <%= link_to t('songs.admin_unpublish'), song_unpublish_path(@song), method: :put, class: "btn btn-primary btn-block" if @song.published? %>
          <%= link_to t('songs.admin_edit'), edit_song_path(@song), class: "btn btn-primary btn-block" %>
          <%= link_to t('songs.admin_remove'), @song, method: :delete, class: "btn btn-danger btn-block", data: { confirm: t('admin.confirm_destroy') } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

