<%
  total = @songs.length
  col1 = @songs[0, (total / 2.0).ceil]
  col2 = @songs[(total / 2).ceil, (total / 2).ceil]
%>
<article>
  <% if total > 0 %>
  <ul class="col-md-6 list-group">
    <% col1.each do |s| %>
      <%= render 'songs/list_item', song: s %>
    <% end %>
  </ul>
  <ul class="col-md-6 list-group">
    <% col2.each do |s| %>
      <%= render 'list_item', song: s %>
    <% end %>
  </ul>
  <% else %>
    <div class="nothing-found big"><%= t 'songs.no_unpublished' %></div>
  <% end %>
</article>