<%
title t('titles.letter', letter: @letter.letter)
description t('descriptions.letter', letter: @letter.letter)
keywords t('keywords.letter', letter: @letter.letter)
%>
<div class="row">
<% unless @letter.artists.empty? && @letter.songs.empty? %>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading"><%=t 'artists.artists' %></div>
			<% unless @letter.artists.empty? %>
				<div class="list-group">
					<% @letter.artists.each do |a| %>
						<%= render 'artists/list_item', artist: a %>
					<% end %>
				</div>
			<% else %>
				<div class="panel-body nothing-found small">
					<%= t 'letters.no_artists' %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading"><%=t 'songs.songs' %></div>
			<% unless @letter.songs.empty? %>
				<div class="list-group">
					<% @letter.songs.each do |s| %>
						<%= render 'songs/list_item', song: s %>
					<% end %>
				</div>
			<% else %>
				<div class="panel-body nothing-found small">
					<%= t 'letters.no_songs' %>
				</div>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="nothing-found big"><%= t 'letters.no_results' %></div>
<% end %>
</div>