<h2><%= t 'user.signin_page.title' %></h2>

<%= link_to t('user.signin_page.signin_with_facebook').html_safe, user_omniauth_authorize_path(:facebook), class: 'signin-with-fb big' %>

<span class="big-or"><%= t 'user.signin_page.or' %></span>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal' }) do |f| %>
  <div class="form-inputs sign-in">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('user.signin_page.submit_button'), class: 'pull-right' %>
  </div>
<% end %>

<%= link_to t("user.signin_page.signup"), new_registration_path('user') %><br />
<%= link_to t("user.signin_page.forgot_password"), new_password_path('user') %>