<ol class="breadcrumb">
	<li class=""><%= link_to t('forem.forum.forums'), forem.forums_path %></li>
	<li class=""><%= link_to forem_emojify(topic.forum.title), [forem, topic.forum] %></li>
	<li class="active"><%= forem_emojify(topic.subject) %></li>
</ol>
<h2><%= topic.subject %></h2>