<% content_for :hide_breadcrumbs do "true" end %>
<div id='topic' class='<%= 'un' unless @topic.locked? %>locked'>
  <%= render :partial => 'forem/topics/head', :locals => { :topic => @topic } %>

  <% if @topic.pending_review? %>
    <div class="moderation alert" id='topic_moderation'>
      <%= t(".pending_review") %>
      <% if forem_admin_or_moderator?(@topic.forum) %>
        <%= form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f| %>
          <%= render "/forem/moderation/options", :f => f %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= forem_pages_widget(@posts) %>

  <div id=" ">
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>

  <%= forem_pages_widget(@posts) %>
</div>

<% content_for :sidebar do %>
  <% if forem_user %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'forem.user_panel' %></div>
      <div class="panel-body">
        <%= link_to t('forem.topic.links.new'), forem.new_forum_topic_path(@forum), :class => "btn btn-primary btn-block" %>
        <% if @topic.can_be_replied_to? && can?(:reply, @topic) %>
          <%= link_to t(".reply"), forem.new_topic_post_path(@topic), :class => "btn btn-primary btn-block" %>
        <% end %>
        <% if @topic.user == forem_user %>
          <%= link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger btn-block" %>
        <% end %>

        <% if forem_user %>
          <% if !@topic.subscriber?(forem_user.id) %>
            <%= link_to t(".subscribe"), forem.subscribe_forum_topic_path(@forum, @topic), :class => "btn btn-success btn-block" %>
          <% else %>
            <%= link_to t(".unsubscribe"), forem.unsubscribe_forum_topic_path(@forum, @topic), :class => "btn btn-danger btn-block" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if forem_admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('forem.topic.links.edit'), forem.edit_admin_topic_path(@topic), :class => "btn btn-block btn-default" %>
        <%= link_to t(".hide.#{@topic.hidden}"), forem.toggle_hide_admin_topic_path(@topic), :method => :put, :class => "btn btn-block btn-danger" %>
        <%= link_to t(".lock.#{@topic.locked}"), forem.toggle_lock_admin_topic_path(@topic), :method => :put, :class => "btn btn-block btn-danger" %>
        <%= link_to t(".pin.#{@topic.pinned}"), forem.toggle_pin_admin_topic_path(@topic), :method => :put, :class => "btn btn-block btn-default" %>
      </div>
    </div>
  <% end %>
<% end %>