/*
	* This is a manifest file that'll be compiled into application.css, which will include all the files
	* listed below.
	*
	* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
	* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
	*
	* You're free to add application-wide styles to this file and they'll appear at the top of the
	* compiled file, but it's generally better to create a new file per style scope.
	*
	*= require_self
	*= require jquery.ui.all
	*= require token-input
	*= require token-input-facebook
	*= require jquery.qtip.min
	*= require jtab-helper
	*= require font-awesome
	*= require typeahead.css
	*= require_tree .
*/

$brand-primary: #9c3;
@import "bootstrap";

body{
	margin-top: 60px;
}

.sign-in-dropdown{
	width: 250px;
	padding: 15px;

	label {
		display: block;
		float: none;
	}

	.controls {
		width: 100%;
	}
}

.top-bar{
	margin-bottom: 10px;
}

.text-center{
	text-align: center;
}

.image-field{
	margin-top: 8px;
}

.current-image{
	text-align: right;
}

svg{
	color: #F00;
}

.fb-like {
	float: right;
	margin-top: 5px;
}

.voting {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;

	.score {
		font-size: 20px;

		&.positive {
			color: green
		}

		&.negative {
			color: red;
		}
	}

	.vote-icon {
		font-size: 25px;
		&:hover {
			text-decoration: none;
		}

		&.deactivated {
			color: lighten(#000, 60%);
		}
	}
}

.content {
	position: relative;
}

.share-bar {
	margin-bottom: 5px;
}

.hidden {
	display: none;
}

.advertisement {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.breadcrumb {
	margin-bottom: 5px;
}

.nothing-found {
	color: lighten(#000, 60%);
	text-align: center;
}

.nothing-found.big {
	font-size: 30px;
}

.nothing-found.small {
	font-size: 20px;
}

.signin-with-fb.big {
	font-size: 30px;
	display: block;
	text-align: center;
}

.form-inputs.sign-in .boolean {
	height: 16px;
}

.big-or {
	font-size: 25px;
	padding: 10px;
	text-align: center;
	display: block;
}

.table-actions {
	text-align: right;
	width: 1px;
    white-space: nowrap;
}

.search-group-title {
	margin: 0;
	padding: 3px;
	text-indent: 10px;	
	font-size: 16px;
}

.search-box {
	margin-bottom: 5px;
}

.letters .btn-sm {
	padding-left: 9px;
	padding-right: 9px;
}

.tac {
	text-align: center;
}
.tar {
	text-align: right;
}