// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-header{
  h1 {
    line-height: 50px;
    margin: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
  }


}

img.full-width{
  width: 100%;
}

.artist-info, .user-info {
  h1 { margin-top: 10px; }
  margin-bottom: 10px;

  .caption {
    .voting {
      float: right;
      position: inherit;
    }
  }
}

