.chord-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .chord-list-item {
    display: inline-block;
    width: 140px;

    a { 
      color: #000; 
      display: block;
    }

    div.jtab {
      height: 110px;
    }
  }
}

.artist-info {

  div.jtab {
    text-align: center;
    margin-top: 60px;

    svg {
      transform: scale(2);
      -webkit-transform: scale(2);
    }
  }

}