.category, .forum {
	h2 {
		font-size: 18px;
	}
}

.forum td {
	.last-post {
		color: #999;
	}
}

.post {
	border-bottom: 2px solid #EEE;
	padding-bottom: 5px;
	padding-top: 5px;
}

#submit-btn {
	margin-top: 10px;
	clear: both;
}

.in-reply-to {
	margin-left: 5px;
}