// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

pre{
  padding-left: 40px;

  div.tab{
    display: inline-block;
  }
  
  svg{
    margin-left: -40px;
  }

  .chord {
    cursor: pointer;
    color: #9c3;
  }

  &.no-block {
    background: transparent;
    border: none;
    border-left: 3px solid lighten(#000, 92%);
    border-radius: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.search-result-song {
  .song-title {
    font-size: 15px;
  }

  .song-artists {
    text-align: right;
  }

  .song-artist {
    display: inline-block;;
    padding: 2px;
    color: #999;
  }
}

.songs-list-item {
  .title {
    .song-name {
      color: lighten(#000, 33.5%);
    }

    .genre {
      text-align: right;
    }
  }

  small {
    color: lighten(#000, 60%)
  }

  .additional-info {
    border-top: 1px solid lighten(#000, 92%);
    margin-top: 4px;
    padding-top: 6px;

    .featuring-artists {
      text-align: right;
      font-size: 10px;
      color: lighten(#000, 60%);
      line-height: 30px;
    }

    .score {
      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }
  }
}

.song-title {
  h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
}

.preview-song {
  margin-top: 10px;
}

.song-chords-title {
  font-size: 20px;
}

.song-chords {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    display: inline-block;

    a{
      color: #000;
    }
  }
}

.songs-list {
  padding-left: 15px;
}