<div id='forum'>
  <ol class="breadcrumb">
    <li class=""><%= link_to t('forem.forum.forums'), forem.root_path %></li>
    <li class=""><%= link_to forem_emojify(forum.category), [forem, forum.category] %></li>
    <li class="active"><%= forem_emojify(forum.title) %></li>
  </ol>
  <div id="description" class="well"><%= forem_format(forum.description) %></div>
</div>
