<table id="forums" class="forums table table-striped table-bordered" cellspacing="0">
  <thead>
  <tr>
    <th class="desc-and-last-post"><%= t('forum', :scope => 'forem.general') %></th>
    <th class="topics-count"><%= t('topics', :scope => 'forem.general') %></th>
    <th class="posts-count"><%= t('posts', :scope => 'forem.general') %></th>
    <th class="views-count"><%= t('forem.forums.index.views') %></th>
  </tr>
  </thead>
  <tbody>
    <% if category.forums.empty? %>
      <tr>
        <td colspan="4">
          <div class="nothing-found big"><%= t 'forums.no_forums' %></div>
        </td>
      </tr>
    <% else %>
      <%= render category.forums %>
    <% end %>
  </tbody>
</table>
