<% content_for :hide_breadcrumbs do "true" end %>

<ol class="breadcrumb">
  <li class="active"><%= t('.title') %></li>
</ol>

<div id='forums_container'>
  <%= render @categories %>
</div>

<% content_for :sidebar do %>
  <% if forem_admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('forum.admin'), forem.admin_root_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>