<% content_for :hide_breadcrumbs do "true" end %>
<div class='forum'>
  <%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

  <%= forem_pages_widget(@topics) %>
  <table class="topics table-striped table-bordered table" cellspacing="0">
    <thead>
      <tr>
        <th class="icon"></th>
        <th class="byline"><%= t('forem.topic.headings.topic') -%></th>
        <th class="latest-post"><%= t('forem.topic.headings.latest') -%></th>
        <th class="posts-count"><%= t('forem.topic.headings.posts') -%></th>
        <th class="views-count"><%= t('forem.topic.headings.views') -%></th>
      </tr>
    </thead>
    <tbody>
      <% if @topics.empty? %>
        <tr>
          <td colspan="5" align="center">
            <div class="nothing-found big"><%= t 'forums.no_topics' %></div>
          </td>
        </tr>
      <% end %>
      <%= render @topics %>
    </tbody>
  </table>
  <%= forem_pages_widget(@topics) %>
</div>

<% content_for :sidebar do %>
  <% if forem_user %>
    <% unless @topic.try(:new_record?) %>
      <% if can? :create_topic, @forum %>
        <div class="panel panel-default">
          <div class="panel-heading"><%=t 'forem.user_panel' %></div>
          <div class="panel-body">
            <%= link_to t('forem.topic.links.new'), forem.new_forum_topic_path(@forum), :class => "btn btn-primary btn-block" %>
          </div>
        </div>
        
      <% end %>
    <% end %>
  <% end %>
  <% if forem_admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.admin_panel' %></div>
      <div class="panel-body">
        <%= link_to t('forum.admin'), forem.admin_root_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
  <% if can? :moderate, @forum %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=t 'admin.moderation_panel' %></div>
      <div class="panel-body">
        <%= link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(@forum), :class => "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>