<%= simple_form_for [forem, :admin, @topic], html: {class: 'form-horizontal' } do |f| %>
  <%= f.input :subject %>
  <%= f.association :forum , :label => "Forum" %>
  <%= f.input :locked, :as => :boolean %>
  <%= f.input :pinned, :as => :boolean %>
  <%= f.input :hidden, :as => :boolean %>

  <%= f.submit :class => "btn btn-primary pull-right" %>
<% end %>
