<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t 'admin_menu.title' %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to t('admin_menu.unpublished_songs'), main_app.unpublished_songs_path %></li>
      <li><%= link_to t('admin_menu.unpublished_artists'), main_app.unpublished_artists_path %></li>
      <li><%= link_to t('admin_menu.chords'), main_app.chords_path %></li>
      <li><%= link_to t('admin_menu.types'), main_app.types_path %></li>
      <li><%= link_to t('admin_menu.complexities'), main_app.complexities_path %></li>
      <li><%= link_to t('admin_menu.genres'), main_app.genres_path %></li>
      <li><%= link_to t('admin_menu.languages'), main_app.languages_path %></li>
    </ul>
  </li>
</ul>