<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="fa-ellipsis-vertical"></span>
			</button>
			<%= link_to "Akordai", main_app.root_path, :class => 'navbar-brand' %>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="<%= 'active' if yield(:active_menu) == "home" %>"><%= link_to t('main_menu.home'), main_app.root_path %></li>
				<li class="<%= 'active' if yield(:active_menu) == "artists" %>"><%= link_to t('main_menu.artists'), main_app.artists_path %></li>
				<li class="<%= 'active' if yield(:active_menu) == "chords" %>"><%= link_to t('main_menu.chords'), main_app.chords_path %></li>
				<li class="<%= 'active' if yield(:active_menu) == "forums" %>"><%= link_to t('main_menu.forum'), forem.root_path %></li>
				<% if current_user %>
					<li class="<%= 'active' if yield(:active_menu) == "bookmarks" %>"><%= link_to t('main_menu.bookmarks'), main_app.bookmarks_path %></li>
				<% end %>
			</ul>

			<%= render 'layouts/user_menu' %>
			<%= render 'layouts/admin_menu' if admin? %>
		</div><!--/.navbar-collapse -->
	</div>
</nav>