<div class="row">
	<% if notice %>
		<div class="alert alert-success">
			<%= notice %>
		</div>
	<% end %>

	<% if alert %>
		<div class="alert alert-warning">
			<%= alert %>
		</div>
	<% end %>
</div>
<div class="row top-bar">
	<div class="col-xs-12 col-md-3 col-md-push-9 search-box">
			<form action="<%= main_app.search_path %>">
				<div class="input-group">
					<input type="text" name="q" class="js-global-search form-control" value="<%= params[:q] %>" placeholder="<%= t 'search.placeholder' %>">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
					</span>
				</div><!-- /input-group -->
			</form>
	</div>

	<div class="col-xs-12 col-md-9 col-md-pull-3">
		<div class="btn-group letters">
			<% "#abcdefghijklmnopqrstuvwxyz".each_char do |l| %>
				<%= link_to l, main_app.letter_path(letter: (l == '#' ? 'num' : l) ), class: "btn btn-default btn-sm #{!@selected_letter.nil? && @selected_letter == l ? 'active' : ''}" %>
			<% end %>
		</div>
	</div>
	
</div>