<ul class="nav navbar-nav navbar-right">
	<% if user_signed_in? %>
		<% if current_user.admin? %>
		<li>
			<%= link_to t('songs.create').html_safe, main_app.new_song_path %>
		</li>
		<% end %>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
			<ul class="dropdown-menu">
        <li><%= link_to t('user.show_profile'), main_app.user_path(current_user) %></li>
        <li><%= link_to t('user.edit_profile'), main_app.edit_user_registration_path(current_user) %></li>
        <li><%= link_to t('user_menu.logout'), main_app.destroy_user_session_path, method: :delete %></li>
        <li><a href="#">Bookmarks</a></li>
      </ul>
		</li>
	<% else %>
		<li>
			<%= link_to t('user.signin_with_facebook').html_safe, main_app.user_omniauth_authorize_path(:facebook) %>
		</li>
		<li>
			<%= link_to t('user.signup'), new_registration_path('user') %>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t 'user.signin' %> <b class="fa fa-chevron-down"></b></a>
			<div class="dropdown-menu sign-in-dropdown">
				<%= simple_form_for(User.new, url: main_app.user_session_path, html: { class: 'form-horizontal' } ) do |f| %>
					<%= f.input :email, input_html: { placeholder: t('user.email'), type: 'email', required: 'true' } %>
					<%= f.input :password, input_html: { placeholder: t('user.password'), required: 'true' } %>
					<div>
						<%= link_to t('user.forgot_password'), new_password_path('user') %>
						<%= f.button :submit, class: 'btn btn-primary btn-sm pull-right', value: t('user.login') %>
					</div>
				<% end %>
			</div>
		</li>
	<% end %>

</ul>