<%
hide_sidebar = (yield :hide_sidebar) == "true" ? true : false
hide_breadcrumbs = (yield :hide_breadcrumbs) == "true" ? true : false
primary_classes = "col-sm-9 col-xs-12"
sidebar_classes = "col-sm-3 col-xs-12"
primary_classes = "col-sm-12 col-xs-12" if hide_sidebar

if (yield :sidebar_classes).length > 0
	sidebar_classes = sidebar_classes + (yield :sidebar_classes)
end

if (yield :primary_classes).length > 0
	primary_classes = sidebar_classes + (yield :primary_classes)
end
%>

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? t('main.page_title', title: content_for(:title)) : t('main.default_page_title') %></title>
		<meta name="description" content="<%= content_for(:description) %>">
		<meta name="keywords" content="<%= content_for(:keywords) %>">
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

		<script type="text/javascript">
			var HOST = '<%= main_app.root_url %>'
		</script>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/navigation' %>

		<% unless current_page?(main_app.root_path) %>
		<div class="container">
			<%= render 'layouts/top_bar' %>
			<div class="row">
				<div class="primay <%= primary_classes %>">
					<%= render_breadcrumbs(builder: ::BootstrapBreadcrumbsBuilder, separator: '') unless hide_breadcrumbs %>
					<%= render 'snippets/advertisement_long' %>
					<div class="content">
						<%= yield %>
					</div>
				</div>

				<% unless hide_sidebar %>
					<div class="secondary <%= sidebar_classes %>">
						<%= yield :sidebar %>
					</div>
				<% end %>
			</div>
		</div> <!-- /container -->

		<% else  %>
			<%= yield %>
		<% end %>

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=334289670018300";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</body>
</html>
